@page "/Applications"

<article>
    <h3>Recibe notificaciones de bolsa con StockNotifier</h3>
    <div class="post-text-side">
        <p>
            Recibe notificaciones periódicas en tu pulsera Mi Band para estar al día de los precios de tus acciones favoritas.
            StockNotifier te permite configurar estas notificaciones por medio de suscripciones, que se listarán en la pantalla principal de la aplicación.
            En el siguiente vídeo se explica cómo añadir y eliminarlas de manera muy sencilla.
        </p>
        <p>
            Una vez configuradas, estas suscripciones enviarán notificaciones a tu pulsera informándote sobre las últimas cotizaciones de tus acciones favoritas de bolsa.
        </p>
    </div>
    <div class="youtubeVideoSide">
        <iframe src="https://www.youtube.com/embed/wtUFAvSQub4">
        </iframe>
    </div>
</article>

<article>
    <h3>Actualización de la aplicación StockNotifier</h3>
    <div class="post-text">
        <p>Gracias a esta nueva versión, el usuario tendrá la capacidad de habilitar o deshabilitar una suscripción, es decir, detener temporalmente las notificaciones sin necesidad de eliminarla.</p>
    </div>
    <div class="post-image">
        <figure>
            <a href="https://play.google.com/store/apps/details?id=com.mibandtricks.stocknotifier&hl=es" itemprop="url" target="_blank">
                <img src="/Content/Images/Posts/StockNotifierUpdate.jpg" itemtype="https://schema.org/ImageObject" alt="Actualización StockNotifier" class="mediumimagefullhd" />
            </a>
            <figcaption>Descarga la aplicación Keep en tu dispositivo para utilizarla como recordatorio junto con tu Mi Band</figcaption>
        </figure>
    </div>
    <div class="post-text">
        <p>Esto permitirá realizar el seguimiento de múltiples acciones y habilitar sólo algunas de las suscripciones temporalmente. El resto quedarán desactivadas sin generar ninguna notificación hasta que el usuario las vuelva a habilitar.
        Estos cambios se han publicado en la versión 2.0 de la aplicación.</p>
    </div>
</article>
