@page "/LocationBasedAlerts"
@layout PostContentLayout

<h3>
    Recordatorios basados en la ubicación
</h3>
<div class="post-text-side">
    <p>
        ¿Sabías que puedes configurar para que te muestre distintos recordatorios basándose en tu ubicación? Por ejemplo, podrías hacer que te recordara la lista de la compra al llegar al supermercado. Es bastante sencillo de configurar y sólo tienes que utilizar la aplicación Keep para mostrar estos recordatorios:
    </p>
    <ol>
        <li>Instala Keep en tu dispositivo móvil y habilita las notificaciones para la aplicación por medio de la aplicación Mi Fit en el apartado "Otros"</li>
        <li>Escribe una nota y clica en el icono de la campana para configurar un recordatorio</li>
        <li>Selecciona el lugar donde quieres que se active la notificación</li>
        <li>Si estás utilizando iOS, recuerda permitir las notificaciones para la Mi Band</li>
        <li>Guarda los cambios de la nota</li>
    </ol>
    <p>
        Una vez configurada la nota, la aplicación Keep generará una notificación cuando lleguemos a la ubicación seleccionada y podremos visualizarla desde nuestra pulsera Mi Band. Puedes aplicar esta configuración en cualquier versión de la Xiaomi Mi Band.
    </p>
</div>
<div class="post-image-right">
    <figure>
        <a href="https://play.google.com/store/apps/details?id=com.google.android.keep&hl=es" itemprop="url" target="_blank">
            <img src="/Content/Images/Posts/MiBandPic2.png" itemtype="https://schema.org/ImageObject" alt="Mi Band 4" class="medium-image" />
        </a>
        <figcaption>Descarga la aplicación Keep en tu dispositivo para utilizarla como recordatorio junto con tu Mi Band</figcaption>
    </figure>
</div>
<div class="relatedProducts">
    <p>
        Productos relacionados:
    </p>
    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://rcm-eu.amazon-adsystem.com/e/cm?ref=qf_sp_asin_til&t=dave02920d-21&m=amazon&o=30&p=8&l=as1&IS1=1&asins=B089NS9JW2&linkId=22480be9d2b1a13af21a6d2678dc1e49&bc1=FFFFFF&amp;lt1=_top&fc1=333333&lc1=0066C0&bg1=FFFFFF&f=ifr">
    </iframe>
    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://rcm-eu.amazon-adsystem.com/e/cm?ref=qf_sp_asin_til&t=dave02920d-21&m=amazon&o=30&p=8&l=as1&IS1=1&asins=B07T9DHKXL&linkId=6a1cc33538c39504e5b07f741d657cdd&bc1=FFFFFF&amp;lt1=_top&fc1=333333&lc1=0066C0&bg1=FFFFFF&f=ifr">
    </iframe>
</div>

