@page "/RealmeBand2"
@layout PostContentLayout

<h3>Ralme Band 2</h3>

<div>
    <h4>Introducción</h4>
    <p>
        La Realme Band 2 es una de las últimas pulseras de la marca Realme y tiene un diseño muy diferente respecto a lo que estamos acostumbrados a ver. Si la comparamos además con con alguna de las pulseras con un diseño más clásico como puede ser la <strong>Mi Band 6</strong>, veremos que tiene algunas diferencias que te pueden resultar interesante. Quédate con nostros y descúbrelas todas.
    </p>
    <h4>Pantalla</h4>
    <p>
        A pesar de su formato, en el que destaca sin duda su pantalla rectangular, la Realme Band 2 tiene una pantalla más pequeña que la Mi Band 6. Hablamos de 1,4 pulgadas frente a 1,56 de esta última. La tecnología que utiliza también es distinta respecto a la de Xiaomi, ya que en Realme han optado por una pantalla LCD convencional mientras que la Mi Band cuenta con un pantalla AMOLED. El brillo además también es distinto, siendo la de Realme algo más brillante con 50 nits más (500 en vez de 450). En el caso de Xiaomi, sin embargo, la pantalla cuenta con un recubrimiento antihuellas que no se menciona en el caso de Realme.
    </p>
    <h4>Batería</h4>
    <p>
        En este caso Realme cuenta con una mayor capacidad pero menor rendimiento, es decir, dura tan sólo 12 días mientras que la de Xiaomi tiene una duración aproximada de 14. Lo bueno es que las dos pulseras tienen un conector magnético para realizar la carga, por lo que no habrá que quitar el módulo central de la pulsera para cargarla.
    </p>
    <h4>Conectividad</h4>
    <p>A pesar de que cuenta con una <strong>versión Bluetooth 5.1</strong>, más moderna que la de la Mi Band 6, Xiaomi ha sacado una versión con NFC de su pulsera (hablamos sobre ello en el siguiente <a href="/MiBand6WithNfc">post</a></p>
</div>

