<div @key="@Guid.NewGuid()">
    @if (InArticleAd != null)
    {
        @InArticleAd
    }
</div>

@code {
    [Inject]
    public MiBandTricksBlazor.Shared.GoogleAdSense.DisplayInArticleAdConfiguration DisplayInArticleAdConfiguration { get; set; }
    private RenderFragment InArticleAd { get; set; }

    protected override void OnInitialized()
    {
        InArticleAd = new RenderFragment (b =>
        {
            b.OpenElement(0, "script");
            b.AddAttribute(0, "async", true);
            b.AddAttribute(0, "src", "https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js");
            b.AddAttribute(0, "crossorigin", "anonymous");
            b.CloseElement();
            b.OpenElement(0, "ins");
            b.AddAttribute(0, "class", "adsbygoogle");
            b.AddAttribute(1, "style", "display: block; text-align:center;");
            b.AddAttribute(1, "data-ad-layout", "in-article");
            b.AddAttribute(1, "data-ad-format", "fluid");
            b.AddAttribute(2, "client", "ca-pub-3580672252349205");
            b.AddAttribute(3, "data-ad-slot", "7428480641");
            b.CloseElement();
            b.OpenElement(0, "script");
            b.AddContent(0, "(adsbygoogle = window.adsbygoogle || []).push({});");
            b.CloseElement();
        });
    }
}