<div class="socialMedia">
    <div class="socialMediaText">
        @Message
    </div>
    <a href="https://twitter.com/mibandtricks" target="_blank" class="fa fa-twitter"></a>
    <a href="https://www.instagram.com/mibandtricks/" target="_blank" class="fa fa-instagram instagram"></a>
</div>

@code{
    public string Message { get; set; } = "Síguenos!";
}