@inherits LayoutComponentBase
<head>
    <meta charset="utf-8" />
    <meta name="author" content="mibandtricks.com" />
    <meta name="description" content="Mi Band: las mejores noticias, aplicaciones y trucos sobre la pulsera." />
</head>

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <div id="bannerSection">
            <div id="banner" class="bannerClass">
                Descarga la aplicación StockNotifier en el siguiente <a href="https://play.google.com/store/apps/details?id=com.mibandtricks.stocknotifier&hl=es" itemprop="url" target="_blank"> enlace</a>.
            </div>
        </div>
        <TopMenu />
    </div>

    <div class="content px-4">
        <div class="bodyContent">
            @Body
        </div>
        @*We will use AdSense here*@
        <div id="aside">
        </div>
    </div>
</div>

