@page "/StockNotifierApp"
@layout PostContentLayout

<h3>Aplicación StockNotifier</h3>

<div class="post-text-side">
    <p>
        Gracias a la aplicación StockNotifier podrás recibir notificaciones de bolsa sobre tus acciones favoritas en tu Mi Band. Una vez se hayan permitido las notificaciones de esta aplicación, podrás conocer el precio de las acciones que hayas configurado por medio de unos intervalos.
    </p>
    <p>
        Para conocer más información sobre StockNotifier y estar al día de los precios de tus acciones favoritas, sólo tienes que seguir el siguiente <a asp-area="" asp-controller="Software" asp-action="Index" itemprop="url">enlace</a>.
    </p>
</div>
<div class="post-image-left">
    <figure>
        <a href="https://play.google.com/store/apps/details?id=com.mibandtricks.stocknotifier&hl=es" itemprop="url" target="_blank">
            <img src="/Content/Images/Posts/IconoStockNotifier.png" itemtype="https://schema.org/ImageObject" alt="Aplicación StockNotifier" class="medium-image" />
        </a>
        <figcaption>Descubre la aplicación StockNotifier para estar al tanto de la bolsa.</figcaption>
    </figure>
</div>
<div class="post-text">
    <p>
        En el siguiente vídeo se explica cómo añadir una suscripción con el intervalo de notificación deseado y después cómo eliminarla. Esto te permitirá conocer el precio de tus acciones favoritas con tan sólo un giro de muñeca en tu Xiaomi Mi Band:
    </p>
    <div class="youtubeVideoSide">
        <!-- width="420" height="315" -->
            <iframe id="youtubeVideoIframe" src="https://www.youtube.com/embed/wtUFAvSQub4">
            </iframe>
        </div>
        <p>Además, con la última actualización, tal y como se indica en el apartado <a href="/applications">Actualización de la aplicación StockNotifier</a>, el usuario podrá detener las notificaciones de algunas de las suscripciones con tal sólo deshabilitarlas por medio de un botón.</p>
    </div>
