@page "/StravaSync"
@layout PostContentLayout

<h3>
    Empareja tu Mi Band con la cuenta de Strava
</h3>
<div class="post-image-left-small">
    <figure>
        <a href="https://play.google.com/store/apps/details?id=com.huami.watch.hmwatchmanager&hl=es" itemprop="url" target="_blank">
            <img src="/Content/Images/Posts/AmazfitBip.png" itemtype="https://schema.org/ImageObject" alt="amazfit bip s" class="medium-image" />
        </a>
        <figcaption>La aplicación Amazfit ahora se llama Zepp. Descárgala clicando en la siguiente imagen.</figcaption>
    </figure>
</div>
<div class="post-text-side-large">
    <p>
        Puedes sincronizar las actividades grabadas con tu Mi Band conc tu cuenta de Strava. Sólo tienes que descargar la aplicación Amazfit (disponible tanto en Android como iOS), inicia sesión en la aplicación Amazfit usando tu cuenta Mi Fit.
    </p>
    <p>
        <ul>
            <li>Una vez logueado, accede al apartado "Perfil".</li>
            <li>Clica en "Añadir cuenta" y selecciona "Strava" (también es posible utilizar Google Fit o Health) y la aplicación redirigirá automáticamente a la ventana de inicio de sesión.</li>
            <li>También tendrás que dar permisos a Amazfit para escribir en tu cuenta de Strava.</li>
            <li>Acepta y estarás listo para grabar todos los entrenamientos y sincronizar con tu cuenta de Strava (Google Fit o Health de Apple).</li>
        </ul>
    </p>
</div>
<div class="post-text">
    <p>
        Puedes aplicar la configuración previa a los siguientes dispositivos de Amazfit:
        <ol>
            <li>Amazfit GTS y Amazfit GTR</li>
            <li>Bip, Bip S, Bip Lite y Bip 1S</li>
            <li>Verge y Verge 2</li>
            <li>T-Rex</li>
            <li>Pace</li>
            <li>Stratos, Stratos 2 y Stratos 3</li>
        </ol>
    </p>
</div>
<div class="relatedProducts">
    <p>
        Productos relacionados:
    </p>
    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://rcm-eu.amazon-adsystem.com/e/cm?ref=qf_sp_asin_til&t=dave02920d-21&m=amazon&o=30&p=8&l=as1&IS1=1&asins=B089NS9JW2&linkId=22480be9d2b1a13af21a6d2678dc1e49&bc1=FFFFFF&amp;lt1=_top&fc1=333333&lc1=0066C0&bg1=FFFFFF&f=ifr">
    </iframe>
    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://rcm-eu.amazon-adsystem.com/e/cm?ref=qf_sp_asin_til&t=dave02920d-21&m=amazon&o=30&p=8&l=as1&IS1=1&asins=B07YKH96Y7&linkId=7bbf38004ff98b4f1fcd6307b4603b45&bc1=FFFFFF&amp;lt1=_top&fc1=333333&lc1=0066C0&bg1=FFFFFF&f=ifr">
    </iframe>
    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="https://rcm-eu.amazon-adsystem.com/e/cm?ref=qf_sp_asin_til&t=dave02920d-21&m=amazon&o=30&p=8&l=as1&IS1=1&asins=B079S38SFR&linkId=eca634b6050fc2f79565baaa07201ec4&bc1=FFFFFF&amp;lt1=_top&fc1=333333&lc1=0066C0&bg1=FFFFFF&f=ifr">
    </iframe>
</div>